@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


* {
    box-sizing: border-box;
}

body {

    font-family: 'lato', sans-serif;
    overflow-x: hidden;
    margin:0;
    background-color: #333;
    color: #222;

}

.container {
    background-color: #fafafa;
    transition:transform 0.5s linear;
    transform-origin:top left;
    padding:50px;
    min-height: 100vh;
    width:100vw;

}


.container.show-nav {
    transform:rotate(-20deg);
}

.circle-container {
    position:fixed;
    top:-100px;
    left:-100px;

}

.circle {
    background-color:#ff7979 ;
    height:200px;
    width:200px;
    border-radius:50%;
    position:relative;
    transition: transform 0.5s linear;
}
.container.show-nav .circle{
    transform:rotate(-70deg);
}

.circle button {
    position:absolute;
    top:50%;
    
    background:transparent;
    border:0;
    font-size:26px;
    color:#fff;

}

.circle button#open {
    left:60%;
    top:60%;
}

.circle button#close {
     top:60%;
     left:40%;
     transform-origin:top left ;
   transform: rotate(90deg);
    
}


   

















.content img {
    max-width: 100%;
}

.content {
    max-width: 1000px;
    margin: 50px auto;
}


.content small {
    color: #555;
    font-style: italic;
}

.content h1 {
    margin: 0;
}

.content p {
    color: #333;
    line-height: 1.5;
  }